.navbar div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .back-btn {
  border: 0;
  padding: 10px 25px;
  background-color: #f5eee7;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  color: #18191a;
  text-decoration: none;
}

.dark .back-btn {
  background-color: #18191a;
  color: #f5eee7;
}

.navbar .back-btn:hover {
  scale: 1.03;
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.25);
}

.dark .back-btn:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.blog-main {
  align-items: flex-start;
  height: fit-content;
}

.blog-posts {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #f5eee750;
  border-radius: 10px;
  background-color: #222;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.25);
}

.dark .post {
  color: #f5eee7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.post .post-title {
  font-weight: 400;
  margin-bottom: 0.25rem;
}

footer {
  padding: 2rem 0 4rem 0;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer a {
  color: #f5eee7;
}

.dark footer,
.dark footer a {
  color: #18191a;
}

@media (max-width: 640px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}
